*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgb(44, 144, 233);
    border-bottom: 5px solid rgb(241, 111, 111);
    
}

#header h1{
    padding-top: 20px ;
    padding-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(252, 51, 1);
    text-shadow: 0 0 10px rgb(26, 0, 143);
    display: inline-block;
}

.container{
    width: 80%;
    margin: auto;
} 

.navbar{
    float: right;
}

.navbar li{
display: inline;
}

.navbar a{
    text-decoration: none;
    padding: 25px 15px;
    font-family: sans-serif;
    display: inline-block;
}

.navbar i{
    background-color: white;
    border-radius: 50%;
    font-size:x-large;
}

.translation i{
    margin-left: 40px;
    font-size: xx-large;
    background-color: red   ;
}

#banner{
    height: 60vh;
    background-image: url(./rasm/Image\ from\ wp-s.ru\ 1366x768.jpg);
    background-size: cover;
    background-position: center center;
    
} 

#banner h2{
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(87, 233, 68);
    
}

#banner .container{
    padding-top: 100px;
}

#banner pre{
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding-top: 25PX;
    padding-left: 0;
}

.container button{
border-radius: 20px;
width: 100px;
font-family: sans-serif;
color: rgb(33, 130, 241);
background-color:black;
padding: 10px 20px ;
}

.container button:hover{
    color: black;
    background-color:rgb(33, 130, 241);
    transition: all 2s;
    cursor: pointer;
    box-shadow: 0 5px rgb(94, 117, 245);
    transform: translateY(4px);
}

.search{
    float:right;
}
.search button{
    width:70px ;
    padding: 10px 10px;
}
.search input{
    border-radius: 20px;
    width:200px;
    padding: 8px 7px;
    margin-top: 0;      
}

#menu{
    background-color: rgb(44, 144, 233);
    border-top: 5px solid rgb(241, 111, 111);
}

.nav li{
    display: inline;
}

.nav a{
    text-decoration: none;
    padding: 25px 15px;
    font-family: sans-serif;
    margin-left: 70px;
    display: inline-block;
}

.nav a:hover{
    color: rgb(24, 3, 212);
    background-color:rgb(47, 176, 226);
    transition: all 1s;
    cursor: pointer;   
}

#footer{
    margin-top: 700px;
    height: 70vh;
    background-image: url(./rasm/2.jpg);
    background-size: cover;
    background-position: center center;
    
} 

#footer h3{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 152, 223);    
    padding-top: 20px;
    text-shadow: 0 0 10px rgb(26, 0, 143);
}

#footer ul{
    display: inline;
}

#footer li{
    text-decoration: none;
    padding: 25px 15px;
    font-family: sans-serif;
    display: inline-block;
}

#footer li a{
    text-align: center;
    text-decoration: none;
    color: red;
    font-family: sans-serif;
    font-size: 20px;
}

.top a{
    padding-right: 70px ;
    text-align: center;
    text-shadow: 0 0 10px rgb(245, 56, 56);
}
.botton a{
    padding-right: 70px ;
    text-align: center;
    text-shadow: 0 0 10px rgb(245, 56, 56);
}

#reg{
    background-image: url(./rasm/registratsiya.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sign-home{
    background-image: url(./rasm/reg.jpg);
    
    height: 75vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    background-clip: content-box;
    width: 23%;
    margin: auto;
    
    padding-top: 90px;
    
}

.sign-home input{
margin-left: 30px;
margin-top: 10px;
border-radius: 40px;
padding: 10px 5px;
width: 250px;
    
}
.regs button{
    border-radius: 20px;
    width: 90px;
    font-family: sans-serif;
    color: rgb(33, 130, 241);
    background-color:black;
    padding: 10px 15px ;
    margin-left: 120px;
    margin-top: 30px;
    }
    
    .regs    button:hover{
        color: black;
        background-color:rgb(33, 130, 241);
        transition: all 2s;
        cursor: pointer;
        box-shadow: 0 5px rgb(94, 117, 245);
        transform: translateY(4px);
    }
